html { 
    background: url(popcorn.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.section {
    margin: 10%;
    text-align: center;
    
}

.hide {
    display: none;
}

.title {
    font-family: 'Paytone One', sans-serif;
}

.subtitle {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px; 
    color: black;
}



.link {
    color: black;
}

.image {
    padding: 1px;
}
#image1 {
    float: right ;
}
#image2 {
    float: right;
}
#image3 {
    float: right;
}
#image4 {
    float: right;
}
 